.notifikacija{
    background: #fff;
    width: 80%;
    border-radius: 0.6em;
    margin: 1em auto;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
    padding: 0.8em;
    color: #777;
    display: flex;
}

.dugmeNot{
    background-color: #FF7F1B;
    padding: 0.8em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    color: white;
    font-weight: bold;
    margin-left: 13%;
    margin-right: 13%;
    border-radius: 3em;
    border: none;
}

.odustani{
    border : solid 2px #FF7F1B;
    background-color: #083694;
    border-radius: 3em;
    margin:auto;
    color:white;
    font-weight: bold;
    padding-left: 1.4em;
    padding-right: 1.4em;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
}

.lijevi{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-right:3%;
    margin-left: 1%;
}

.desni{
    margin-left:3%;
    margin-right: 1%;
}

.dugmence{
    display: flex;
    justify-content: center;
}

.notKomp{
    position: absolute;
    bottom: 2%;
  }